<app-back-button></app-back-button>
<app-action-button></app-action-button>

<div class="pots-grid">

  <div  class="pot" (click)="goTopot()">

    <h2>Chaber <3</h2>

    <div class="pot-content">

      <div class="pot-image">
        <img src="/assets/potka.png" alt="Pokojówka" />
      </div>

      <div class="pot-info">
        <div class="info-row">
          <span>Naświetlenie</span>
          <span class="info-value">98%</span>
        </div>

        <div class="info-row">
          <span>Wilgotność Gleby</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Poziom Nawozu</span>
          <span class="info-value">25%</span>
        </div>

      </div>

    </div>

  </div>

  <div class="pot" (click)="goTopot()">

    <h2>Chaber <3</h2>

    <div class="pot-content">

      <div class="pot-image">
        <img src="/assets/potka.png" alt="Pokojówka" />
      </div>

      <div class="pot-info">
        <div class="info-row">
          <span>Naświetlenie</span>
          <span class="info-value">98%</span>
        </div>

        <div class="info-row">
          <span>Wilgotność Gleby</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Poziom Nawozu</span>
          <span class="info-value">25%</span>
        </div>

      </div>

    </div>

  </div>

  <div class="pot" (click)="goTopot()">

    <h2>Chaber <3</h2>

    <div class="pot-content" >

      <div class="pot-image">
        <img src="/assets/potka.png" alt="Pokojówka" />
      </div>

      <div class="pot-info">

        <div class="info-row">
          <span>Naświetlenie</span>
          <span class="info-value">98%</span>
        </div>

        <div class="info-row">
          <span>Wilgotność Gleby</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Poziom Nawozu</span>
          <span class="info-value">25%</span>
        </div>

      </div>

    </div>

  </div>

  <div class="pot" (click)="goTopot()">

    <h2>Chaber <3</h2>

    <div class="pot-content">

      <div class="pot-image">
        <img src="/assets/potka.png" alt="Pokojówka" />
      </div>

      <div class="pot-info">

        <div class="info-row">
          <span>Naświetlenie</span>
          <span class="info-value">98%</span>
        </div>

        <div class="info-row">
          <span>Wilgotność Gleby</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Poziom Nawozu</span>
          <span class="info-value">25%</span>
        </div>

      </div>

    </div>

  </div>

</div>
