<app-back-button></app-back-button>
<app-action-button></app-action-button>

<div class="room-view-bg">
  @defer (when room) {
    <div class="room-header">{{ room!.name }}</div>
    <div class="room-grid">
      <div class="card temperature">
        <div class="card-title">
          Temperatura
          <img src="assets/icons/temp-white.png" alt="Temperatura" class="icon" />
        </div>
        <div class="card-value">
<!--          {{ room!.data.temperature }}°C-->
          <app-animated-counter
            [value]="parseInt(room!.data.temperature.toString())"
            suffix=""
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
          .
          <app-animated-counter
            [value]="parseInt((room!.data.temperature%1 * 100).toString())"
            suffix="°C"
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
        </div>
        @if (dataService.rooms.length > 1) {
          <div class="card-desc up">
            <img
              [src]="`assets/icons/arrow-${(room!.data.temperature - dataService.roomAvg.temperature) > 0 ? 'up' : 'down'}.png`"
              alt="Wzrost" class="icon-mini" />
            {{ Math.abs((room!.data.temperature - dataService.roomAvg.temperature)).toFixed(1) }}° stopni {{ (room!.data.temperature - dataService.roomAvg.temperature) > 0 ? "więcej" : "mniej" }}
          </div>
        }

<!--                <div class="card-desc up">
          <img src="assets/icons/arrow-up.png" alt="Wzrost" class="icon-mini" />
          <app-animated-counter
            [value]="parseInt((room!.data.temperature - dataService.roomAvg.temperature).toString())"
            suffix=""
            [minDigits]="1"
            [fontSize]="14"
            theme="default">
          </app-animated-counter>
          @if ((room!.data.temperature - dataService.roomAvg.temperature) % 1 !== 0) {
            .          <app-animated-counter
              [value]="parseInt((Number(((room!.data.temperature - dataService.roomAvg.temperature)%1).toFixed(1))*10).toString())"
              suffix=""
              [minDigits]="1"
              [fontSize]="14"
              theme="default">
            </app-animated-counter>
          }
           stopni {{ (room!.data.temperature - dataService.roomAvg.temperature) > 0 ? "więcej" : "mniej" }}
        </div>-->
      </div>
      <div class="card pressure">
        <div class="card-title">
          Ciśnienie
          <img src="assets/icons/cisnienie-white.png" alt="Ciśnienie" class="icon" />

        </div>
        <div class="card-value">
<!--          {{ room!.data.pressure }} hPa-->
          <app-animated-counter
            [value]="parseInt(room!.data.pressure.toString())"
            suffix=""
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
          .
          <app-animated-counter
            [value]="parseInt((room!.data.pressure % 1 * 100).toString())"
            suffix="hPa"
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
        </div>
        @if (dataService.rooms.length > 1) {
        <div class="card-desc down">
          <img
            [src]="`assets/icons/arrow-${(room!.data.pressure - dataService.roomAvg.pressure) > 0 ? 'up' : 'down'}.png`"
            alt="Wzrost" class="icon-mini" />
          {{ Math.abs((room!.data.pressure - dataService.roomAvg.pressure)).toFixed(1) }} hPa {{ (room!.data.pressure - dataService.roomAvg.pressure) > 0 ? "więcej" : "mniej" }}

        </div>
        }
      </div>
      <div class="card rating">
        <div class="card-title">
          Ocena Pokoju
          <img src="assets/icons/rating.png" alt="Ocena" class="icon" />

        </div>
        <div class="card-value">95/100</div>
        <div class="progress-bar-bg">
          <div class="progress-bar-fg"></div>
        </div>
      </div>
      <div class="card humidity">
        <div class="card-title">
          Wilgotność
          <img src="assets/icons/humidity.png" alt="Wilgotność" class="icon-smaler" />

        </div>
        <div class="card-value">
<!--          {{ room!.data.humidity }}%-->
          <app-animated-counter
            [value]="parseInt(room!.data.humidity.toString())"
            suffix=""
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
          .
          <app-animated-counter
            [value]="parseInt((room!.data.humidity%1 * 100).toString())"
            suffix="%"
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
        </div>
        <div class="card-desc good">
          — Dobry poziom
        </div>
      </div>
      <div class="card air">
        <div class="card-title">
          Jakość Powietrza
          <img src="assets/icons/air.png" alt="Jakość powietrza" class="icon" />

        </div>
        <div class="card-value">
          {{ air_quality_context(room!.data.quality) }}
        </div>
        <div class="card-desc">
          AQI:
<!--          {{ room!.data.air_quality }}-->
          <app-animated-counter
            [value]="room!.data.quality"
            suffix=""
            [minDigits]="1"
            theme="default">
          </app-animated-counter>
        </div>
      </div>
      <div class="card threats">
        <div class="card-title">
          Zagrożenia
          <img src="/assets/icons/warning.png" alt="Zagrożenia" class="icon" />

        </div>
        <div class="threat-row">
          <span class="label co">CO:</span> Brak
        </div>
        <div class="threat-row">
          <span class="label gas">Gaz:</span> Brak
        </div>
      </div>
    </div>
  } @placeholder {
    <div class="room-header">Pokój 1</div>
    <div class="room-grid">
      <div class="card temperature">
        <div class="card-title">
          Temperatura
          <img src="assets/icons/temp-white.png" alt="Temperatura" class="icon" />

        </div>
        <div class="card-value">22.5°C</div>
        <div class="card-desc up">
          <img src="assets/icons/arrow-up.png" alt="Wzrost" class="icon-mini" />
          0.5° stopni więcej
        </div>
      </div>
      <div class="card pressure">
        <div class="card-title">
          Ciśnienie
          <img src="assets/icons/cisnienie-white.png" alt="Ciśnienie" class="icon" />

        </div>
        <div class="card-value">1013 hPa</div>
        <div class="card-desc down">
          <img src="assets/icons/arrow-down.png" alt="Spadek" class="icon-mini" />
          100 niższe
        </div>
      </div>
      <div class="card rating">
        <div class="card-title">
          Ocena Pokoju
          <img src="assets/icons/rating.png" alt="Ocena" class="icon" />

        </div>
        <div class="card-value">95/100</div>
        <div class="progress-bar-bg">
          <div class="progress-bar-fg"></div>
        </div>
      </div>
      <div class="card humidity">
        <div class="card-title">
          Wilgotność
          <img src="assets/icons/humidity.png" alt="Wilgotność" class="icon-smaler" />

        </div>
        <div class="card-value">45%</div>
        <div class="card-desc good">
          — Dobry poziom
        </div>
      </div>
      <div class="card air">
        <div class="card-title">
          Jakość Powietrza
          <img src="assets/icons/air.png" alt="Jakość powietrza" class="icon" />

        </div>
        <div class="card-value">Dobra</div>
        <div class="card-desc">
          AQI: 50
        </div>
      </div>
      <div class="card threats">
        <div class="card-title">
          Zagrożenia
          <img src="/assets/icons/warning.png" alt="Zagrożenia" class="icon" />

        </div>
        <div class="threat-row">
          <span class="label co">CO:</span> Brak
        </div>
        <div class="threat-row">
          <span class="label gas">Gaz:</span> Brak
        </div>
      </div>
    </div>
  }


</div>
